<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    
    
</head>
<body>
    <div id="app">
        <h2>{{name}}</h2>
        <!-- <span v-if="status">Status is true</span>
        <button type="button">Get</button>
        <span v-if="items.length > 0">{{items}}</span> -->
        <div v-if="items.length>0">
            <img :src="item.url" alt="" v-for="item in items">
        </div>
    </div>
    <script src="main.js"></script>
    <script>
        const mountApp = app4.mount("#app");
    </script>
</body>
</html>