body {
    background-color:gray;
}
.container {
    width:60%;
    height:100px;
    position:relative;
    margin:20px auto;
}


.lineContainer {
    width:30px;
    height:22px;
    cursor:pointer;
    position:absolute;
    right:0;
    top:0;
    z-index:1;
}
.line {
    width:30px;
    height:4px;
    margin-bottom:4px;
    background-color:white;
    
    
}

.lin1, .lin3 {
    transition: all 0.5s ease-in-out;
}

.line2 {
    transition:opacity 0.5s ease-in-out;
}

.hideLine2 {
    opacity:0;
}

.line1Rotate {
    transform: rotate(45deg) translate(3px,9px);
}
.line3Rotate {
    transform: rotate(-45deg) translate(3px,-9px);
}

.menuContainer {
    width:100vw;
    height:100vh;
    background-color:#042a2b;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    transition:opacity 0.6s ease-in-out;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    
    
}

.showMenuLayout {
    opacity:1;
}

li {
    list-style:none;
    margin:10px;
    font-size:40px;
    user-select:none;
    transition:all 0.6s ease-in-out;
    color:white;
    
}
li:hover {
    cursor:pointer;
}

.moveLi {
    transform:translateY(-10px);
}

